<img [src]="richSnippets[0].imageUrl" width="800px">
<h2>{{richSnippets[0].name}}</h2>

<label>Name</label><br>
<input class="text" [(ngModel)]="richSnippets[0].name"><br>
<label>Recipe category</label><br>
<input class="text" [(ngModel)]="richSnippets[0].recipeCategory"><br>
<label>Published</label><br>
<input class="text" [(ngModel)]="richSnippets[0].datePublished"><br>
<label>Description</label><br>
<textarea rows="20" cols="80" [(ngModel)]="richSnippets[0].description">{{richSnippets[0].description}}</textarea>

<ul>
    <li>Preparation time: {{richSnippets[0].preparationTime}}</li>
    <li>Cooking time: {{richSnippets[0].cookingTime}}</li>
    <li>Total time: {{richSnippets[0].totalTime}}</li>
</ul>

<button (click)="saveRichSnippet(richSnippets[0])">Save</button>

<pre>{{richSnippets[0] | json}}</pre>
