<img [src]="richSnippets[0].imageUrl" width="800px">
<h2>Name: {{richSnippets[0].name}}</h2>
<p>Recipe category: {{richSnippets[0].recipeCategory}}</p>
<p>Published: {{richSnippets[0].datePublished}}</p>
<p>{{richSnippets[0].description}}</p>

<ul>
    <li>Preparation time: {{richSnippets[0].preparationTime}}</li>
    <li>Cooking time: {{richSnippets[0].cookingTime}}</li>
    <li>Total time: {{richSnippets[0].totalTime}}</li>
</ul>

<button (click)="saveRichSnippet(richSnippets[0])">Save</button>

<pre>{{richSnippets[0] | json}}</pre>
